.services__item {
    position: relative;
    padding: 40px 40px;
    padding-bottom: 45px;
    -webkit-box-shadow: 0px 30px 40px 0px rgba(3, 24, 128, 0.2);
    -moz-box-shadow: 0px 30px 40px 0px rgba(3, 24, 128, 0.2);
    box-shadow: 0px 30px 40px 0px rgba(3, 24, 128, 0.2);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: transform 0.3s cubic-bezier(0.21, 0.6, 0.44, 2.18);
    -moz-transition: transform 0.3s cubic-bezier(0.21, 0.6, 0.44, 2.18);
    -ms-transition: transform 0.3s cubic-bezier(0.21, 0.6, 0.44, 2.18);
    -o-transition: transform 0.3s cubic-bezier(0.21, 0.6, 0.44, 2.18);
    transition: transform 0.3s cubic-bezier(0.21, 0.6, 0.44, 2.18);
  }
  @media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .services__item {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .services__item {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .services__item {
      padding-left: 25px;
      padding-right: 25px;
    }
  }
  .services__item:hover {
    -webkit-transform: translateY(-5px) translate3d(0, -5px, 0);
    -moz-transform: translateY(-5px) translate3d(0, -5px, 0);
    -ms-transform: translateY(-5px) translate3d(0, -5px, 0);
    transform: translateY(-5px) translate3d(0, -5px, 0);
  }

  .services__content li {
    color: #ffffff;
    line-height: 22px;
    font-weight: lighter;
  }

  .blue-bg-4 {
    background: #2d69f0;
  }

  .pink-bg {
    background: #54648b;
  }

  .fw-bold{
      font-weight: 700;
  }

  ul, li{
      list-style: none; 
  }